

.header-container{
    background: url('../images/bookshelf.jpg') no-repeat bottom right fixed;
    background-size: cover;
}

.shop-name{
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron-header{
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
}

.shop-name{
    margin-top: 75px;
    margin-left: 125px;
    margin-right: 125px;
}

/* Footer section */

#footer{
    background: grey;
}