/* Navbar section */

.navbar{
    background: #FFFAFA;
}

.nav-link{
    color: #d55d5d;
    font-family: 'Lobster', sans-serif;
    font-size: 28px;
    text-align: center;
}

.nav-link a:hover{
    color: blue;
}

/* Header section */

.header-container{
    background: url('../images/bookshelf.jpg') no-repeat bottom right fixed;
    background-size: cover;
}

.shop-name{
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron-header{
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
    font-size: 57px;
}

.shop-name{
    margin-top: 75px;
    margin-left: 125px;
    margin-right: 125px;
}

 /* Middle section */

 .midsection{
    text-align: center;
    display: inline-block;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    margin: 0 auto;
    margin-top: 25px;
 }

.vl{
    border-left: 1px solid grey;
    height: 690px;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

button{
    background: #d55d5d;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
}
 /* Footer section */

#footer{
    background: #FFFAFA;
    font-family: 'Lobster', sans-serif;
    color: #d55d5d;
    margin-left: 10px;
    margin-right: 10px;
}

.phone-number{
    font-size: 20px;
}

.social{
    float:right;
}

.social-logo i {
    font-size:20px;
    color: #d55d5d;
}

.social-logo i:hover{
    color: blue;
}

.phone-number:hover{
    color: blue;
}

.social-logo {
    display: inline-block;
    padding-right:15px;
    text-align: center;
    }

 /* Contact section */

/*.contact-text{
    margin-left: 5px;
}*/