/* Navbar section */

.navbar{
    width:100%;
    background: #FFFAFA;
    position: fixed;
    z-index: 9;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:100%
}

.navbar ul li{
    display: inline-block;
}

.nav-link{
    color: #d55d5d;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    text-align: right;
}

.nav-link a:hover{
    color: blue;
}

/* Header section */

.header-container{
    background: url('../images/bookshelf.jpg') no-repeat bottom right fixed;
    background-size: cover;
    height: 100vh;
}

.shop-name{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 180px;
    margin-left: 125px;
    margin-right: 125px;
}

.jumbotron-header{
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

.jumbotron-icon{
    color: #ffffff;
    font-size: 30px;
}

@media screen and (max-width:943px){
    .shop-name{
        width: 100%;
        margin-left: 0;
    }
}

 /* Homepage */

 .bookshop-pic-container{
    background-size: contain;
    background-repeat: no-repeat;
    object-fit:cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    text-align: center;
    display: block;
    margin-top: 30px;
    
 }

.opening-hours{
    font-family: 'EB Garamond', serif;  
    padding-top:10px; 
}

 .bookshop-pic{
    text-align:center;
    object-fit: contain;
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    
 }

@media screen and (max-width:768){
    .bookshop-pic-container{
        display:none;
    }

    .opening-hours{
        float:left;
    }
} 

.bestsellers{
    display: block;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
}

thead{
    background: #d55d5d;
    color: white;
}

table{
    border: 1px solid black;
    margin: 0 auto;
}

.color-row{
    background:black;
    color: white;
}

.page-header{
    text-align: center;
    margin: 0 auto;
}
 /* Middle section */

 .midsection{
    
    display: inline-block;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 50px;
 }

 /* Footer section */

#footer{
    background: black;
    font-family: 'Dancing Script', cursive;
    color: #d55d5d;
    padding-top:5px;
}

.phone-number{
    font-size: 20px;
}

.social{
    float:right;
}

.social-logo i {
    font-size:20px;
    color: #d55d5d;
}

.number{
    color: #d55d5d;
}

.social-logo i:hover{
    color: blue;
}

.phone-number:hover{
    color: blue;
}

.social-logo {
    display: inline-block;
    padding-right:15px;
    text-align: center;
    }

 /* Contact section */

.map{
    text-align: center;
}

.map-container{
    display:inline-block;
}

.contact-heading{
    font-family: 'EB Garamond', serif;
}

.contact-container{
    padding-bottom: 20px;
    margin-top:40px;
}

@media screen and (max-width:943px){
    .contact-text{
    text-align: justify;
    }

    .map-container{ 
        margin: 0 auto;
        position: relative;
        padding-bottom: 85%; 
        height: 0;
        overflow: hidden;
    }

    .map-container .map{
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 80%;
    }

    .contact-us{
        font-family: 'EB Garamond', serif;
        margin: 0 auto;
        position: relative;
        padding-bottom: 100%; 
        height: 0;
        overflow: hidden;
    }

    .contact-form{
        top: 0;
        left: 0;
        height: 80%;
        font-size: 20px;
    }   
    
}   

.contact-label{
    text-align: left;
}

.contact-form{
    font-family: 'EB Garamond', serif;
    text-align: left;
    margin-left: 40vh;
    margin: 0 auto; 
    font-size: 20px;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

form {
  padding: 35px;
  margin-top: 50px;
  margin-bottom:0;
  padding-bottom: 0px;
}

.email {
	float: none;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
    border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
    font-weight: 400;
	margin: 0em 0 2em 0;
	padding: 0 0 1em 0;
    text-transform: uppercase;
	width: 100%;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
    width: 100%;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
}

#form_button:hover {
  background: #d55d5d;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
 #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {  
  input[type='text'], [type='email'], select, textarea {
    font-size: 1em;
  }
}

/* Events section */

.hexa{
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213,213,213);
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  background: #d55d5d;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #d55d5d;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #d55d5d;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(255,255,255);
  font-weight: 600;
  z-index: 8;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255,255,255);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 8;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: #d55d5d;
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(254,254,254);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  z-index: 8;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 8;
}

@media(min-width: 768px){
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }
  
  .flag {
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254,254,254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254,254,254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media(min-width: 992px){
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}